<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218810279090-mvb4t580qqg4vcc67rndjhv80qcnrbdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218810279090-mvb4t580qqg4vcc67rndjhv80qcnrbdt</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Ph7wv7p_2oPlih9fcIbX8x5YLfp0Tv8</string>
	<key>GCM_SENDER_ID</key>
	<string>218810279090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abbas.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-b1efe</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-b1efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218810279090:ios:ae6abf0633a0fef5bc95ab</string>
</dict>
</plist>